:host {
  display: flex;
  flex-direction: column;
}

.listview {
  display: flex;
  flex-direction: column;
  margin: 10px;

  .description {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px;

    mat-icon {
      height: fit-content;
      width: fit-content;
      font-size: 50px;
      margin-right: 10px;
    }

    button {
      margin: 10px 10px 0 0;
      min-width: 60px;
      padding: 2px 4px;
      border: solid 0.5px black;
      border-radius: 5px;
      box-sizing: border-box;

      &.cancel {
        background-color: lightblue;
      }

      &.confirm {
        background-color: var(--p-100);
      }
    }
  }

  .addtask {
    display: flex;
    flex-direction: row;
    margin-left: 34px;

    button {
      margin-left: 4px;
    }
  }
}
