<div class="listview" *ngIf="todoList$ | async as todoList">
  <span [style.color]="todoList.color">Lists -> {{todoList.caption}}</span>
  <div class="description">
    <mat-icon [style.color]="todoList.color">{{todoList.url}}</mat-icon>
    <div *ngIf="! isDeleting">
      <span>{{todoList.description}}</span>
      <div class="buttons">
        <button (click)="newList()">New List</button>
        <button (click)="editList(todoList.id)">Edit</button>
        <button (click)="delete()">Delete</button>
      </div>
    </div>
    <div *ngIf="isDeleting">
      <span>Are you sure you want to delete the entire list?</span>
      <div class="buttons">
        <button (click)="cancelDelete()" class="cancel">Cancel</button>
        <button (click)="confirmDelete(todoList.id)" class="confirm">Yes, I am sure</button>
      </div>
    </div>
  </div>
  <div class="items">
    <ng-container *ngFor="let item of todoItems$ | async">
      <app-todo-item-presenter [todoItem]="item"></app-todo-item-presenter>
    </ng-container>
  </div>
  <form class="addtask">
    <input type="text" [formControl] = "newTaskControl">
    <button (click)="addTask(todoList.id)" [disabled] = "! newTaskControl.valid">+</button>
  </form>
</div>
