.header {
  display: flex;
  flex-direction: column;
  background-color: var(--p-900);
  color: var(--pc-900);
  text-align: center;
  margin: 4px 0px;

  .l1 {
    font-size: 16px;
  }
  .l2 {
    font-size: 14px;
  }
  .l3 {
    font-size: 12px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    button {
      height: fit-content;
      margin: 5px;
      padding: 5px;
      font-size: 12px;
      vertical-align: middle;
      border-radius: 4px;
      border: gray solid;
      background-color: lightgray;
    }
  }
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;

  .single-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;

    .icon {
      color: var(--p-900);
      font-size: 16px;
      text-align: center;
      height: 16px;
    }

    .value {
      font-size: 12px;
    }

    .name {
      color: var(--p-400);
      font-size: 12px;
      line-height: 12px;
    }
  }
}
