<div class="header">{{title$ | async}}</div>
<form [formGroup]="todoListForm">
  <span>Caption</span>
  <input formControlName="caption">

  <span>Description</span>
  <textarea formControlName="description"></textarea>
  <span>Icon</span>
  <select formControlName="url" class="material-icons" [style.color]="getFormColor()">
    <ng-container *ngFor="let url of urls" >
      <option [value]="url" class="material-icons" [style.color]="getFormColor()">{{url}}</option>
    </ng-container>
  </select>

  <span>Color</span>
  <select formControlName="color" [style.color]="getFormColor()">
    <ng-container *ngFor="let color of colors">
      <option [style.color]="color">{{color}}</option>
    </ng-container>
  </select>
</form>

<p>
  <button [disabled]="todoListForm.invalid" (click)=save()>Save</button>
</p>

<!-- <table border="2">
  <thead>
    <tr>
      <th>Form Value</th>
      <th>Data Value</th>
    </tr>
  </thead>
  <tbody>
    <td>
      <pre>{{todoListForm.value | json}}</pre>
    </td>
    <td>
      <pre>{{todoList | json}}</pre>
    </td>
  </tbody>
</table> -->
